@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;500;700;900&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto mono', monospace;
    margin: 0; /*  margen que hay desde un elemento hasta los que tenga al lado. */
    padding: 0; /* espacio que hay entre el borde de la capa y lo que tenga dentro. */
}

a {
    text-decoration: none; /* antes estaba subrayado el texto */
    display: inline;/* para que pueda ponerse de forma horizontal */
    color:  black; /* antes era azul */
}

.grid-container {
    max-width: 980px;
    margin: auto; /* si hay mucho espacio q divida ese espacio entre left right, asi no quede uno mas grande */
}

header {
    width: 100%; /* que vaya de derecha a izquierda en un 100% */
    height: 140px;
    display: grid;
    grid-template-rows:1fr 1fr; /* son 2 filas, 2 fracciones */ 
}

header .header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}
header .header-icons-container .icons{
    width: 300px;
    height: auto; /* para que sea tan grande como su padre */
    display: flex;
    justify-items: flex-end;
    align-items: center; /* asi no quedan arriba */
    justify-content: space-between;
    justify-self: end; /* para que queden a la derecha */
    margin-right: 50px;
}

header .icons span{ 
    color: white;
}
nav {
    display: grid; /* para poder seccionar los 2 contenedores que tenemos */
    grid-template-columns:  1fr 1fr;/* dividir columnas en 2 fracciones */
    height: 90px;
}

nav .nav-logo-container{
    margin-left: 50px;
}

nav .nav-logo-container img{
    width: 220px; /* amplitud */
    margin-top: 10px;
}

nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .profile-link a{
    color: black;
    border-bottom: 1px solid black;
}

.blogs-main{

    display: grid;
}
.blogs-news-container{

    background-color: #e6e9ed;
    padding: 0 50px 40px; /* 0 arriba, 50 izq der, 40 abajo */
    
  
}
.blogs-main-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
    /* grid-auto-rows : 500px; es el tamaño de la nueva fila */
}
.blogs-news-img-container{
    grid-column: 1; /*esto hace que que se creen 4 grillas, ya que parte en la segunda fila. */
    
}
.blogs-news-img-container img{

width: 85%;

}
.blogs-news-info-container{
    grid-column: 2;
}
.blogs-news-info-container p{
    margin-bottom: 35px;

}

.blogs-posts-container {
    padding: 0 50px 40px;
}
.blogs-posts-container h3 {
    border-bottom: 1px solid #cdd2da;  /* https://www.w3schools.com/css/css_border.asp */
    padding-bottom: 20px;
    text-align: center;
}
.blogs-button {
    border: 1px solid #47cfac;
    padding: 10px 15px; /* 10 arriba abajo, 15 izq der*/
    font-size: 12px;  
}

.blogs-posts-container .post-container {
    display: inline-block; /* por defcto article viene como block, inline-block es para que se pueda poner de forma horizontal  w3schools.com/cssref/tryit.asp?filename=trycss_display */
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px; 
}
.blogs-posts-container .post-container p {
    margin-bottom: 35px;
}
.blogs-posts-container .post-container img {
    width: 100%; /* 100 xq ya le pusimos dimension a su padre */
}
footer {
    width: 100%;
    height: 80px;
    background-color: #22272d;
    border-top: 35px solid #47cfac;
    text-align: center;
}
footer p {
    color: white;
    margin-top: 30px;
}

.blogs-main{
    display:grid;
}

.blog-img-container {
    padding: 0 50px 40px ;
}
.blog-img-container img{

    width: 100%;
}
.blog-article-container{
/* text-align: center; */
padding: 0 300px 40px;

}
.blog-article-container p{
    border-bottom: 1px solid black;
    font-weight: bold;
    padding-bottom: 20px;
}

.blog-main .blog-article-container h1{
    font-size: 35px;
}

.contact-main-container{
    width: 100%;
    min-height: 250px;
    background-color: #e6e9ed;
    text-align: center;
    padding-bottom: 50px;
    
}
.contact-main-container div{
    display: inline-block;
    width:49.5%;
    height: 100%;
    
}
.contact-main-container a{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.contact-main-container img{
    width:100px;
}
.contact-main-container .contact-left, .contact-right{
    text-align: initial;
    margin-top: 85px;
} 