@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;500;700;900&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto mono', monospace;
    margin: 0; /*  margen que hay desde un elemento hasta los que tenga al lado. */
    padding: 0; /* espacio que hay entre el borde de la capa y lo que tenga dentro. */
    position: fixed; /* es para que no haya scroll, abajo dejo todo en 0 */
    top: 0;
    bottom: 0;
    left: 0;
    Right: 0;
}

a {
    text-decoration: none; /* antes estaba subrayado el texto */
    display: inline;/* para que pueda ponerse de forma horizontal */
    color:  black; /* antes era azul */
}

header {
    width: 100%; /* que vaya de derecha a izquierda en un 100% */
    height: 140px;
    display: grid;
    grid-template-rows:1fr 1fr; /* son 2 filas, 2 fracciones */ 
}

header .header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}
header .header-icons-container .icons{
    width: 300px;
    height: auto; /* para que sea tan grande como su padre */
    display: flex;
    justify-items: flex-end;
    align-items: center; /* asi no quedan arriba */
    justify-content: space-between;
    justify-self: end; /* para que queden a la derecha */
    margin-right: 50px;
}

header .icons span{ 
    color: white;
}
nav {
    display: grid; /* para poder seccionar los 2 contenedores que tenemos */
    grid-template-columns:  1fr 1fr;/* dividir columnas en 2 fracciones */
    height: 90px;
}

nav .nav-logo-container{
    margin-left: 50px;
}

nav .nav-logo-container img{
    width: 220px; /* amplitud */
    margin-top: 10px;
}

nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .profile-link a{
    color: black;
    border-bottom: 1px solid black;
}

main .blogs-new-container {

    display: grid;
    grid-template-columns: 1fr 1fr;
}